.footer {
  background-color: #b04122; 
  padding: 20px 0;
  color: white;
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column; 
  align-items:flex-start; 
  gap: 20px; 
}

.footer h5 {
  font-size: 24px;
  position: absolute;
  top: 10px; 
  right: 30%; 
  transform: translateX(50%); 
  text-align: center;
  margin-bottom: 1px;
}

.social-media-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0px; 
  margin-left: 100px;
  margin-bottom: 0px;
  margin-top: 50px;
}

.social-media-links li {
  width: calc(33.33% - 10px); /*hace que se vean 3 elementos en una fila*/
  display: flex;
  justify-content: flex-start;
}

/*.social-media-links li:nth-child(4), 
.social-media-links li:nth-child(5) {
  width: calc(37% - 20px); 
}*/

.social-media-links li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.social-media-links li a span {
  margin-left: 10px; 
}

.consultorios-info {
  max-width: 55%; 
  margin-left: auto; 
  box-sizing: border-box;
  display: flex;
  font-size: 24px;
  text-align: justify;
  justify-content:space-between; 
  gap: 20px; 
  margin-right: 5px;
}

.consultorios-info h6 {
  font-size: 18px;
  font-weight: 430;
  margin: 0;
  text-align: start;
  display: flex;
  justify-content:flex-start; 
  margin-left: 0;
}

.consultorios-info p {
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
  text-align: start;
  display: flex; 
  justify-content: flex-start; 
}

/* Responsividad */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center;
  }

  .social-media-links {
    margin-left: 0; 
    justify-content: center; 
    text-align: center;
    align-items: center;
  }

  .consultorios-info {
    max-width: 200%;
    margin-left: 0;
    margin-right: 0; 
    justify-content: flex-start; 
    text-align: start; 
    margin-top: 13px;
    margin-right: 5px;
  }

  .consultorios-info h6, .consultorios-info p {
    justify-content: flex-start; 
    text-align: start; 
  }

  .footer h5 {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    position: static; 
    transform: none; 
  }
}


@media (max-width: 480px) {
  .footer h5 {
    font-size: 18px;
  }

  .social-media-links li {
    width: 100%; 
    align-items: center;
    justify-content: center;
    
  }

  .consultorios-info{
    margin-right: 5px;
  }

  .consultorios-info h6 {
    font-size: 18px;
    display: flex;
    margin-left: 0px;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    
  }

  .consultorios-info p {
    font-size: 12px;
    justify-content: flex-start;
  }

  .footer h5{
    margin-bottom: 1px;
  }
}
